# Build output
bin/
obj/

# User secrets
*.user

# Visual Studio
.vs/
*.suo
*.userprefs

# Rider
.idea/

# Data Protection keys
**/keys/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Logs
*.log
logs/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
